name: CI Pipeline

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Print Message
      run: echo "CI Running"

    - name: Create Artifact
      run: echo "This is a demo artifact" > artifact.txt
      # Upload the artifact
    - uses: actions/upload-artifact@v3
      with:
        name: demo-artifact
        path: artifact.txt
